@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

/* HTML의 body 스타일을 여기에 적용 */
.geoContainer {
  width: 100%;
  height: 100vh; /* 화면 꽉 채우기 */
  margin: 0;
  overflow: hidden;
  background-color: #cdcdcd; /* Diep.io 스타일 회색 배경 */
  font-family: 'Ubuntu', sans-serif;
  touch-action: none;
  user-select: none;
  position: relative; /* 내부 절대 위치 요소 기준점 */
}

.geoContainer canvas {
  display: block;
}